.favoritesPage {
  background-color: #f8f8f8; /* Установите желаемый цвет */
  width: 1440px;
}

.levelList {
  background-color: blue;
}

.levelsItem {
  background-color: aqua;
}

.selectedLevel {
  background-color: #f4c550;
}
