body.favorites-page {
  background-color: #f8f8f8;
}

/* .favoritesPage {
  background-color: #f8f8f8; 
  width: 1440px;
} */

.levelList {
  background-color: blue;
}

.levelsItem {
  background-color: aqua;
}

.selectedLevel {
  background-color: #f4c550;
}

.teacherCard {
  background-color: white;
}

.textMessage {
  padding-left: 100px;
  color: red;
}

.toastError {
  background-color: #ab2b2b; /* красный цвет для ошибки */
  color: #fff; /* белый текст */
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  padding: 14px 28px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  border: 2px solid #b71c1c;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
