.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
}

.lessonSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  background-color: white;
  border-radius: 30px;
  padding: 64px;
  color: #121417cc;
  transform: scale(0.62);
}

.closeIcon {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  stroke: #121417;
}

.title {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #121417;
  padding-bottom: 20px;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #121417cc;
  padding-bottom: 20px;
}

.teacherBox {
  display: flex;
  padding-bottom: 40px;
}

.teacherImage {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 14px;
}

.titleTeacher {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #8a8a89;
}

.nameTeacher {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #121417;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 40px;
}

.inputField {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid #1214171a;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #121417;
}

.inputField:focus {
  border: 1px solid #5081f4;
  outline: none;
  box-shadow: 0 0 5px rgba(80, 129, 244, 0.5);
}

.btnSignIn {
  width: 100%;
  background-color: #f4c550;
  border-radius: 12px;
  padding: 16px 0;
  border: none;
  color: #121417;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btnSignIn:hover,
.btnSignIn:active {
  background: #fbe9ba;
}

.error {
  color: red;
}
