.modalSection {
  max-width: 565px;
  background-color: white;
  border-radius: 30px;
  padding: 64px;
  color: #121417cc;
  position: relative;
}

.closeIcon {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20px; /* Расстояние от верхнего края */
  right: 20px; /* Расстояние от правого края */
  cursor: pointer;
  stroke: #121417;
}

.titleRegistration {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.02em;
  padding-bottom: 20px;
}

.textRegistration {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 40px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 40px;
}

.inputField {
  width: 100%;
  padding: 16px;
  /* box-sizing: border-box;  */
  border: 1px solid #1214171a;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #121417;
}

.inputField:focus {
  border: 1px solid #5081f4; /* Цвет рамки при фокусе */
  outline: none; /* Убираем стандартное выделение */
  box-shadow: 0 0 5px rgba(80, 129, 244, 0.5); /* Добавляем тень для выделения */
}

.btnSignIn {
  width: 100%;
  background-color: #f4c550;
  border-radius: 12px;
  padding: 16px;
  border: none;
  color: #121417;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
}

.btnSignIn:hover,
.btnSignIn:active {
  background: #fbe9ba;
}

.passwordContainer {
  position: relative; /* Батьківський елемент для позиціонування іконки */
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.eyeIcon svg {
  width: 20px;
  height: 20px;
  color: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* значення, що вище за інші елементи */
}

.error {
  color: red;
}

.toastSuccess {
  background-color: #2d6a4f !important; /* насыщенный зеленый */
  color: #f4f9f4 !important; /* мягкий бело-зеленый */
  font-size: 24px;
  border-radius: 12px; /* немного меньше закругления */
  padding: 14px 24px; /* немного больше внутреннего отступа */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* усиленная тень */
  border: 2px solid #1b4332; /* добавить акцентный обвод */
  transition:
    transform 0.2s,
    box-shadow 0.2s; /* плавные эффекты */
  cursor: pointer; /* указатель */
}

.toastError {
  background-color: #ab2b2b !important; /* красный цвет для ошибки */
  color: #fff !important; /* белый текст */
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  padding: 14px 28px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  border: 2px solid #b71c1c;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.googleWrapper {
  display: flex;
  flex-direction: column; /* Розташування елементів вертикально */
  align-items: center; /* Вирівнювання по центру */
  gap: 16px; /* Відступ між елементами */
  text-align: center;
}

.googleWrapper p {
  width: 100%; /* Щоб лінії займали всю ширину контейнера */
  border-top: 1px solid #ccc; /* Лінія зверху */
  line-height: 0.1em; /* Компактне розташування тексту */
  margin: 20px 0; /* Відступи зверху і знизу */
  color: #333;
}

.googleWrapper button {
  display: flex; /* Щоб іконка та текст були на одній лінії */
  gap: 8px; /* Відстань між іконкою та текстом */
  padding: 8px 16px;
  border: none;
  background-color: #fff; /* Білий фон кнопки */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 40px;
}

.googleWrapper button:hover {
  background-color: #f0f0f0; /* Світліший фон при наведенні */
}

.googleIcon {
  font-size: 20px; /* Розмір іконки */
}
