.navbar {
  /* width: 1440px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px; /* Висота навігаційної панелі */
  background-color: #90c0f0; /* Колір фону панелі */
  box-shadow: 0 1px 4px rgba(0, 0, 0.1, 0.1);
  margin-bottom: 40px;
}

.navButton {
  display: flex;
  gap: 90px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.active {
  color: aqua;
  font-weight: bold; /* Выделение жирным */
  border-bottom: 2px solid #1c1c1b; /* Подчеркивание */
}

.link {
  color: rgb(36, 21, 244);
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: color 0.3s;
}

/* .link.active h2 {
  color: red;
} */

.navButton :hover {
  /* font-size: 1.02em; */
  text-decoration: none;
  transition: 0.1s;
  transform: scale(1.1);
}
