.modalSection {
  max-width: 565px;
  border-radius: 30px;
  padding: 64px;
  color: #121417cc;
  position: relative;
  background-color: white;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.closeIcon {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  stroke: #121417;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
}

.titleText {
  margin-bottom: 20px;
}

.modalButton {
  margin-top: 48px;
  padding: 16px 48px;
  border-radius: 28px;
  background-color: #f4c550;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #121417;
  cursor: pointer;
}

.modalButton:hover {
  transition: background-color 0.5s ease;
  background-color: #ffdc86;
}

.titleLogin {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.02em;
  padding-bottom: 20px;
}

.textLogin {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 40px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 40px;
}

.inputField {
  width: 100%;
  padding: 16px;
  border: 1px solid #1214171a;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #121417;
}

.inputField:focus {
  border: 1px solid #5081f4;
  outline: none;
  box-shadow: 0 0 5px rgba(80, 129, 244, 0.5);
}

.btnLogin {
  width: 100%;
  background-color: #f4c550;
  border-radius: 12px;
  padding: 16px;
  border: none;
  color: #121417;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
  transition: background 0.5s ease;
}

.btnLogin:hover,
.btnLogin:active {
  background: #fbe9ba;
}

.passwordContainer {
  position: relative;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.eyeIcon svg {
  width: 20px;
  height: 20px;
  color: currentColor;
}

.error {
  color: red;
}
