.imageSection {
  background: #fbe9ba;
  border-radius: 30px;
  padding-left: 114px;
  padding-right: 114px;
}

.imageWrapper {
  position: relative;
}

.avatarStyle {
  padding-top: 80px;
  width: 540px;
}

.macStyle {
  position: absolute;
  top: 85%;
  left: -12%;
  max-width: 392px;
}
