.statContainer {
  max-width: 1312px;
}

.statItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statNumber {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
}

.plusSign {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  margin-left: 4px;
  margin-right: 16px;
}

.statSection {
  background-image: url('/src/assets/Images/Rectangle.png'); /* Шлях до вашого PNG контурного зображення */
  background-repeat: no-repeat;
  background-size: contain; /* Зображення підлаштується до розміру контейнера */
  padding: 20px; /* Залишає простір між вмістом і контуром */
  display: flex;
  padding: 40px 122px;
  gap: 100px;
  width: 1312px;
}

.logOutStyle {
  background-image: url('/src/assets/Images/RectangleLogOut.png'); /* Шлях до вашого PNG контурного зображення */
  width: 1312px;
}

.statText {
  align-items: center;
  justify-content: center;
  color: #121417b2;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
}
