.headerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 64px;

  position: relative;
}

.navigator {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logoHeaderBox {
  display: flex;
  gap: 8px;
}

.logoImg {
  width: 28px;
  height: 28px;
}

.grayCircle {
  width: 28px; /* Укажите нужный размер */
  height: 28px;
  background-color: #8a8a89; /* Серый цвет */
  border-radius: 50%; /* Для создания круга */
}

.logoName {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #121417;
}

.headerMenu {
  display: flex;
  gap: 28px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%; /* Переміщує блок по горизонталі до середини */
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #121417;
}

.headerMenu li {
  cursor: pointer;
}

/* .menuItem {
  color: #121417;
} */

.regAuthMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Змінено на flex-end для вирівнювання по правому краю */
  margin-left: auto;
  gap: 8px;
}

.logOut {
  width: 20px;
  height: 20px;
  stroke: #f4c550;
  fill: white;
  align-items: center;
  cursor: pointer;
}

.loginText {
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #121417;
  cursor: pointer;
}

.buttonReg {
  margin-left: 16px;
  margin-right: 64px;
  background: #121417;
  border-radius: 12px;
  padding: 14px 39px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.logOutText {
  color: #8a8a89;
}

.logOutStyle {
  background: #8a8a89;
  color: white;
  border: none;
  outline: none;
}

/* Затемнення фону */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.navbar {
  background-color: #f4f4f4;
  padding: 10px;
}

.navButton {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #121417;
  font-weight: bold;
  padding: 2px;
}

.active {
  color: #5a50dc;
  border-bottom: 2px solid #5a50dc;
}
