.teachersPageSection {
  width: 1440px;
  padding-left: 128px;
  padding-right: 128px;
}

.btnLoadMore {
  background-color: #f4c550;
  padding: 16px 48px;
  border-radius: 12px;
  color: #121417;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
  border: none;
  margin: 0 auto 96px;
  display: block;
}

.scrollToTopBtn {
  background-color: #e0a39a;
  padding: 16px 48px;
  border-radius: 12px;
  color: #121417;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
  border: none;
  margin-bottom: 96px;
  margin: 0 auto 96px;
  display: block;
}
.noMoreTeachers {
  color: red; /* Делает текст красным */
  text-align: center; /* Выравнивает текст по центру */
  margin-bottom: 40px; /* Добавляет отступ снизу */
}

.scrollToTopBtn:hover {
  background-color: #f2c0bd;
}

.btnLoadMore:hover {
  background-color: #ffdc86;
}

.commentFilters {
  color: red;
  padding-left: 20px;
}
