.langSwitcherSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textLabel {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #8a8a89;
}

.selectValue {
  color: #121417;
  border: none;
  padding: 14px 18px;
  border-radius: 14px;
  cursor: pointer;

  outline: none; /* убирает рамку фокуса */
}
