.filterSection {
  padding-top: 96px;
  display: flex;
  gap: 20px;
  background-color: #f8f8f8;
  padding-bottom: 32px;
  /* flex-grow: 1; */
  /* width: 50%; */
  /* max-width: calc(50% - 20px); */
}
