.favorite {
  background-color: #e0ffe0; /* Светло-зеленый фон */
  border-color: #66cc66; /* Зеленая рамка */
}
.teacherCard {
  position: relative;
  display: flex;
  gap: 48px;
  padding: 24px;
  margin-bottom: 53px;
  background-color: #fff;
  border-radius: 24px;
}

.heartIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  color: gray; /* Цвет по умолчанию */
  transition: color 0.3s; /* Плавный переход цвета */
  cursor: pointer;
}

.heartIcon.favorited {
  color: #f4c550; /* Цвет, когда вчитель в избранном */
}

.teacherHeader {
  display: flex;
  justify-content: space-between; /* Размещает контент по краям */
  align-items: center;
  padding-bottom: 8px;
}

.teacherImageBox {
  position: relative;
  flex-shrink: 0;
}

.teacherImage {
  width: 96px;
  border-radius: 50%;
  border: 3px solid #fbe9ba;
  padding: 12px;
}

.teacherLable {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 18px;
  left: 64px;
}

.teacherHeaderList {
  display: flex;
  position: absolute;

  justify-content: center;
  align-items: center;
  right: 114px;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #12141733;
  margin: 0 16px;
  align-self: center;
}

.teacherIcon {
  width: 24px;
  height: 16px;
  padding-right: 8px;
}

.teacherContent {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #121417;
}

.contentItem {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #8a8a89;
  padding-bottom: 8px;
}

.contentItem:first-child .teacherContent {
  text-decoration: underline;
}

.priceValue {
  color: #38cd3e;
}

.titleTeachers {
  padding-bottom: 32px;
}

.contentList {
  padding-bottom: 32px;
}

.linkShowSearch {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #121417;
  text-decoration: underline;
  padding-bottom: 32px;
}

.teacherRating {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.reviewComment {
  padding-bottom: 32px;
}

.experienceContent {
  font-weight: 400;
  padding-bottom: 32px;
}

.levelList {
  display: flex;
  gap: 8px;
}

.levelsItem {
  padding: 8px 12px;
  border: 1px solid #12141733;
  border-radius: 35px;
}

.selectedLevel {
  background-color: #f4c550;
}
