.registrationSection {
  max-width: 565px;
  background-color: white;
  border-radius: 30px;
  padding: 64px;
  color: #121417cc;
  position: relative;
}

.closeIcon {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20px; /* Расстояние от верхнего края */
  right: 20px; /* Расстояние от правого края */
  cursor: pointer;
  stroke: #121417;
}

.titleRegistration {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.02em;
  padding-bottom: 20px;
}

.textRegistration {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 40px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 40px;
}

.inputField {
  width: 100%;
  padding: 16px;
  box-sizing: border-box; /* Чтобы padding не влиял на общую ширину input */

  border: 1px solid #1214171a;
  border-radius: 12px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  color: #121417;
}

.btnSignIn {
  width: 100%;
  background-color: #f4c550;
  border-radius: 12px;
  padding: 16px 194px;
  border: none;

  color: #121417;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
}

.passwordContainer {
  position: relative; /* Батьківський елемент для позиціонування іконки */
}

.inputField {
  width: 100%;
  padding-right: 40px; /* Простір для іконки праворуч */
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.eyeIcon svg {
  width: 20px;
  height: 20px;
  padding: 18px;
}
